@charset"utf-8";
.carousel-inner img{
	margin: 0 auto;
	padding-top:50px;
}
.carousel-control{
	font-size:150px;
}
.biaoti1{
	text-align: center;
	font-size:50px;
	font-weight:bold;
	line-height: 1.5em;
}
h1 img{
	position:absolute;
	right:20px;
	top:400px;
	border-radius:50%;
	animation: rot1 3s linear infinite;
}
 @keyframes rot1 {
            0% {}

            100% {
                transform: rotate(360deg);
            }
        }
.biaoti2{
	border:5px dashed #bc0220;
}
/*.box2-p{
	text-align: center;
}*/
#footer{
	background-color: #888;
	border-top:1px solid #eee;
	padding:10px;
	text-align: center;
}
.box2{
	margin:100px;
}
.box2 img{
	width: 80%;
	height: 80%;
}

.box3{
	background-color: #eee;
	margin:90px;
}
.box3 img{
	width: 80%;
	height: 80%;
}
.box4 img{
	width: 90%;
	height: 90%;
}
.box5{
	background-color: #eee;
	margin:90px;
}
.box5 img{
	width: 90%;
	height: 90%;
}
.box6{
	margin:90px;
}
.box6 img{
	width: 90%;
	height: 90%;
}
.box7{
	background-color: #eee;
	margin:90px;
}
.box7 img{
	width: 90%;
	height: 90%;
}
.box8{
	height: 20px;
	width: 100%;
	background-image: linear-gradient(to right ,red 50%,yellow 50%);
	background-size: 2%;
	position:absolute;
	bottom:50px;
}

